/* inicio login */
 
.main-login {
    margin-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-login-register {
    margin-left: 25px;
}
/* Final css Login */