/* Inicio Searcher */
 
.main-searcher {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-top: 20px;
}

.searcher-form {
    margin-left: 60px;
}
 
.searcher-title {
    font-size: 26px;
    font-weight: bold;
}

/* final css search */